@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* utilities */
main {
    width: 90%;
    margin: auto;

}

/* header style  */
header {
    width: 100%;
    height: 646px;
    background: #161616;
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 131px;
}

.header-content {
    width: 40%;
}

.header-content h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
    margin-bottom: -3%;
    margin-top: -1%;
}

.header-content p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.header-content button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 16px 25px;
    gap: 10px;
    width: 187px;
    height: 56px;
    background: #DD0000;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.header-banner img {
    height: 613px;
    left: 801px;
    margin-top: 37px;
}

/* news styles  */

.news {
    display: flex;
    column-gap: 2%;
}



.news .news-navigation {
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
}

.news-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 11px;
}

.news .news-navigation button {
    width: 252px;
    height: 64px;
    background: #ffffff;
    border-radius: 10px;
}

.news .news-navigation a {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    color: #161616;
    text-decoration: none;

}

#news-navigation-special {
    background-color: #DD0000;
}

#news-navigation-special a {
    color: white;
}

.detail-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    row-gap: 4%;
}

.world-cup-news {
    width: 326px;
    height: 242px;
    left: 476px;
    top: 826px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.world-cup-country {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.world-cup-vs {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    color: #161616;
}

.world-cup-info {
    text-align: center;
}

.world-cup-info h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #161616;
}

.world-cup-info p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
}


/* footer */
footer {
    text-align: center;
    width: 100%;
    height: 444px;
    top: 2090px;
    background: #161616;
    margin-top: 150px;
}

footer h1 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 130px;
    margin-bottom: 50px;
    padding-top: 100px;

}

footer hr {
    color: rgba(164, 164, 164, 0.1);
    width: 80%;
    margin-bottom: 50px;

}

footer a {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #B9B9B9;
    text-decoration: none;
    margin-left: 3%;
}

.social {
    color: #b9b6b4;
    font-size: 27px;
    margin-top: 28px;
}

.social i {
    margin-left: 19px;
    transition: 1s;
}

.social i:hover {
    color: #ffb800;
}

/* tablet view  */

@media screen and (min-width:768px) and (max-width: 1023px) {

    /* --------------------------------------------------------------
                        header style 
 -------------------------------------------------------------- */
    header {
        height: 400px;
    }

    .header-content h1 {
        font-size: 40px;
    }

    .header-content p {
        width: 316px;
        height: 48px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .header-content button {
        width: 161px;
        height: 48px;
        font-size: 16px;
    }

    .header-banner img {
        width: 323px;
        height: 340px;
        margin-top: 63px;

    }

    /* --------------------------------------------------------------
                        news style 
 -------------------------------------------------------------- */

    .news {
        flex-direction: column;
        row-gap: 23px;
        margin-top: -107px;
    }

    .news .news-navigation {
        width: 100%;
        background: #ffffff;
        flex-direction: row;
        height: 97px;
        justify-content: space-between;
    }

    .news .news-navigation button {
        width: 195px;
        height: 56px;
        border: 1px solid rgba(232, 232, 232, 1);
    }

    .news .news-navigation a {
        font-size: 16px;
    }

    .detail-news {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1%;
    }

    /* --------------------------------------------------------------
                        footer style 
 -------------------------------------------------------------- */
    footer {
        height: 345px;
    }

    footer h1 {
        margin-top: 70px;
        margin-bottom: 25px;
        padding-top: 50px;
    }

    footer hr {
        width: 90%;
        margin-bottom: 30px;
    }

    footer a {
        font-size: 16px;
        margin-left: 60px;
        line-height: 34px;

    }
}

/* -----------mobile view ------------- */
@media only screen and (min-width:320px) and (max-width: 688px) {

    /* --------------------------------------------------------------
                        header style 
 -------------------------------------------------------------- */
    header {
        width: 100%;
        height: 472px;
        flex-direction: column;
    }

    .header-content {
        width: 71%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-content h1 {
        font-size: 21px;
        margin-top: 34px;
    }

    .header-content p {
        width: 258px;
        height: 48px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .header-content button {
        width: 161px;
        height: 40px;
        font-size: 17px;
        display: flex;
        align-items: center;
        margin-top: -20px;
    }

    .header-banner img {
        width: 233px;
        height: 245px;
    }

    /* --------------------------------------------------------------
                        news style 
 -------------------------------------------------------------- */
    .news {
        flex-direction: column;
        margin-top: -39%;

    }

    .news .news-navigation {
        width: 100%;
        border-radius: 10px;
        background: white;
    }

    .news .news-navigation button {
        border: 1px solid rgba(232, 232, 232, 1);
    }

    .detail-news {
        width: 100%;
        height: 390px;
        grid-template-columns: repeat(1, 1fr);
    }

    .world-cup-news {
        width: 100%;
    }

    /* --------------------------------------------------------------
                        footer style 
 -------------------------------------------------------------- */

    footer {
        width: 100%;
        margin-top: 1178px;
    }

    footer h1 {
        margin-top: 32px;
        margin-bottom: 14px;
        padding-top: 21px;
    }

    footer hr {
        margin-bottom: 24px;
    }

    footer a {
        display: flex;
        flex-direction: column;
        line-height: 41px;
    }
}